- edit ||= false
.section
  %table
    %tr
      %td(valign="top")
        .label.top.req #{t :name}:
        = f.text_field :name, :style => "width:240px"
    %tr
      %td(valign="top")
        .label #{t :description}:
        = f.text_area :description, :style =>"width:240px", :rows => 4
